@charset "utf-8";
@import "common.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=STIX+Two+Text&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'STIX Two Text', serif; */
body { 
    font-size: 10px; 
    /* padding-top: 70px;  */
    font-family: 'Noto Sans KR', sans-serif; 
    color: #212121; 
    letter-spacing: -0.025em; 
} 


/* 영문 */

/* 창고 */

/* main */
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.main_vis_area {
    width: 100%;
    height: 100%;
}
.main_slide {
    width: 100%;
    height: 100%;
}
.main_slide .swiper-slide {
    background-size: contain;
    background-repeat: no-repeat;
}
.main_slide .swiper-slide.item01.swiper-slide-active {
    background-image: url('/image/artist_01.jpg') !important;
}
/* .main_slide .swiper-slide.swiper-slide-active:nth-child(1) {
    background-image: url('image/artist_01.jpg');
} */
/* NAV */
nav {
    position: absolute;
    bottom: 0px;
    left: 20px;
    z-index: 200;
}
nav ul {}
nav ul li {
    margin-bottom: 20px;
}
nav ul li a {
    display: block;
    font-size: 5rem;
    color: #FF3901;
}